body {
  margin: 0px 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Patrick Hand' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(55, 65, 81, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Patrick Hand', 'Courier New',
    monospace;
}
